header {
  height: 80px;
}
.logo {
  padding-top: 15px;
  padding-bottom: 15px;
}


.navbar-default {
  height: 50px;
  background-color: #3355aa;
  padding: 6px;

}


.nav-item a {

  padding: 10px;
  font-size: 15px;
  color: #FFFFFF;
  font-style: italic;
}

.search-form {
  float: right;
  margin-bottom: 20px;
}
.navbar-default button {

  border: 2px solid;

}

.banner-container {
  padding-top: 35px;
  padding-bottom: 45px;
}

.border-line {
  border-left: 2px;
  border-color: #3d3d3d;
  padding-left: 10px;
  padding-right: 10px;
}

.card-img-top {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.card-text {
  text-align: center;
  font-style: italic;
  font-family: georgia;
  margin-bottom: 0px;
  font-size: 14px;
}
.text-header h3 {
border-bottom: solid orange;
border-width: 2px;
font-family: georgia;
padding-top: 25px;
font-size: 16px;
color: #3355aa;
}


.para-text p {
font-family: georgia;
font-size: 14px;
}
.notice-text p {
font-style: italic;
font-size: 14px;
}
.author-text p {
font-size: 10px;
}
.author-text br {
font-size: 15px;
font-style: italic;
}
.text-header h4 {
font-family: georgia;
font-size: 15px;
color: #3355aa;
font-style: italic;
}
.section-box {
padding-top: 45px;
background-color: #f1f1f1f1;
padding-bottom: 75px;
}
.section-box h2{
text-align: center;
font-family: georgia;
padding-top: 25px;
padding-bottom: 25px;
font-size: 28px;

}
.card {
  border-radius: 5px;
  padding-bottom: 5px;
}

.box {
margin: 10px;
height: 250px;
background-color: #808080;
}
.box-text {
font-size: 16px;
text-align: center;
padding: 0 50px;
display: block;
font-family: georgia;
color: #3355aa;
}

.footerbar {
  padding-top: 15px;
  padding-bottom: 35px;
  background-color: #333333;
}


.footerdata-item{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: georgia;
  border-right: 1px solid #808080;

}

.footerbar ul {
  padding: 0px;
  padding-left: inherit;

}

ul li {
  display: inline;
}


.footerdataleft {
  float: right;

}

.footerdataleft-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
  font-family: georgia;
  border-right: 1px solid #808080;
}

.end {
  font-size: 11px;
}

.footerdata-item a:hover
{
 color: white;
 text-decoration: none;
}

.fooerdataleft-item a:hover
{
 color: white;
 text-decoration: none;
}



.anchor {
   color:rgb(152,152,152);
}

.end {

  border-top: 2px solid;
}

.end a{

  color: rgb(152,152,152);
}